{% extends 'base.html' %}

{% block content %}
<table class="table table-borderless">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Experiencia</th>
        <th scope="col">Opções</th>
      </tr>
    </thead>
    <tbody>
      {% for programador in tecnologia.programadores %}
      <tr>
        <th scope="row">{{programador.id}}</th>
        <td><a href="{{url_for('programador.perfil',_id=programador.id)}}">{{programador.nome}}</a></td>
        <td>{{programador.experiencia}} anos</td>
        <td>
          <a href="{{url_for('programador.editar_programador',_id=programador.id)}}"><i class="fas fa-edit"></i></a>
          <a href="{{url_for('programador.excluir_programador',_id=programador.id)}}"><i class="fas fa-user-minus"></i></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}