{% extends 'base.html' %}

{% block content %}
<a class="btn btn-primary btn-lg btn-block" href="{{url_for('tecnologia.cadastrar')}}">Cadastrar Tecnologia</a>
<table class="table table-borderless">
<thead>
    <tr>
    <th scope="col">ID</th>
    <th scope="col">Nome</th>
    <th scope="col">Tipo</th>
    <th scope="col">Opções</th>
    </tr>
</thead>
<tbody>
    {% for tecnologia in tecnologias %}
    <tr>
        <th scope="row">{{tecnologia.id}}</th>
        <td>{{tecnologia.nome}}</td>
        <td>{{tecnologia.tipo}}</td>
        <td><a href="{{url_for('tecnologia.editar_tecnologia',_id=tecnologia.id)}}"><i class="fas fa-edit"></i></a>
            <a href="{{url_for('tecnologia.excluir_tecnologia',_id=tecnologia.id)}}"><i class="fas fa-trash"></i></a>
        </td>
    </tr>
    {% endfor %}
</tbody>
</table>
{% endblock %}