{% extends 'base.html' %}

{% block styles %}

{% endblock %}
<link rel="stylesheet" href="{{url_for('static', filename='/css/style.css')}}">
{% block content %}

<table class="table table-borderless">
    <thead>
        <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Tipo</th>
        </tr>
    </thead>
    <tbody>
        {% for tecnologia in tecnologias %}
        <tr>
            <th scope="row">{{tecnologia.id}}</th>
            <td>
                <form method="POST" action="">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input type="hidden" value="{{tecnologia.id}}" name="id_tecnologia">
                    <input type="submit" value="{{tecnologia.nome}}" class="btn btn-primary">
                </form>
            </td>
            <td>{{tecnologia.tipo}}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>

{% endblock %}