{% extends 'base.html' %}

{% block content %}
<a class="btn btn-primary btn-lg btn-block" href="{{url_for('programador.cadastrar')}}">Cadastrar Programador</a>

<table class="table table-borderless">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Experiencia</th>
        <th scope="col">Opções</th>
      </tr>
    </thead>
    <tbody>
      {% for programador in programadores %}
      <tr>
        <th scope="row">{{programador.id}}</th>
        <td>{{programador.nome}}</td>
        <td>{{programador.experiencia}} anos</td>
        <td>@mdo</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}